<div class="row-fluid">

</div>
<div class="row-fluid">
    <div class="span5">
        <h2><%= data.name %></h2>
        <h3>By <%= data.vendor.name %></h3>
        <p><img src="<%= data.image %>" width="160" height="160"/></p>

    </div>
    <div class="span5">
        <div style="width:250px; height:250px;" id="pie-<%= data.id %>"
             class="piechart"
             data-participantTargetNumber='<%= data.participantTargetNumber %>'
             data-currentParticipantNumber='<%= data.currentParticipantNumber %>"'>
        </div>
    </div>
    <div class="span2">
        <a class="btn btn-primary" href="" style="float:left;">
            Add to Dashboard
        </a>
    </div>


    <div class="span10">

        <table class="table table-striped">
            <tr>
                <td><h6>Closing Date:</h6></td>
                <td> <%= data.offerCloseDate %></td>
            </tr>
            <tr>
                <td><h6>Quantity Per Unit:</h6></td>
                <td> <%= data.qty %></td>
            </tr>
            <tr>
                <td><h6>Standard Price:</h6></td>
                <td> <%= FormatCurrency(data.standardPrice) %></td>
            </tr>
            <tr>
                <td><h6>Target Price:</h6></td>
                <td> <%= FormatCurrency(data.targetPrice) %></td>
            </tr>
            <tr>
                <td><h6>Target Number of Participants:</h6></td>
                <td> <%= data.participantTargetNumber %></td>
            </tr>
            <tr>
                <td><h6>Current Number of Participants:</h6></td>
                <td> <%= data.currentParticipantNumber %></td>
            </tr>
            <tr>
                <td><h6>Description:</h6></td>
                <td> <%= data.description %></td>
            </tr>

        </table>
    </div>



</div>