<div class="row-fluid" style="margin-bottom: 10px;">

    <div class="span3 span-fixed-sidebar style='height:500px; overflow:scroll;' ">

        <div style="margin-left: 40px;">Sort By</div>
        <div id="dashboardItem-sort" class="btn-group" style="margin-left: 40px; margin-bottom: 9px;">
            <a id="dashboardItem-sort-title" class="btn  btn-mini" >Sort Dashboard Items</a>
            <a class="btn  btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a>Alphabetically</a></li>
                <li><a>Current-to-Target Ratio</a></li>
                <li><a>Days Remaining On Offer</a></li>
            </ul>
        </div>

        <div id="dashboardList-Here"></div>

    </div>

    <div id="inventoryItem-Here" class="span9 ">

    </div>
</div>